# App
NODE_ENV=my_environment
PORT=my_port

# Browserless (https://www.browserless.io)
BROWSERLESS_ENDPOINT=my_browserless_endpoint
BROWSERLESS_API_TOKEN=my_browserless_api_token

# MySQL - BD Configuración
DB_CONFIG_HOST=my_db_config_host
DB_CONFIG_PORT=my_db_config_port
DB_CONFIG_USER=my_db_config_user
DB_CONFIG_PASSWORD=my_db_config_password
DB_CONFIG_DATABASE=my_db_config_database

# MySQL - Cartera (ej. Carteras Propias)
DB_CARTERA_HOST=my_db_cartera_host
DB_CARTERA_PORT=my_db_cartera_port
DB_CARTERA_USER=my_db_cartera_user
DB_CARTERA_PASSWORD=my_db_cartera_password  
DB_CARTERA_DATABASE=my_db_cartera_database

# Redis (opcional - colas BullMQ)
REDIS_HOST=my_redis_host
REDIS_PORT=my_redis_port

# Horarios laborales (ejemplo; luego configurables)
HORARIO_INICIO_MANANA=my_inicio_manana
HORARIO_FIN_MANANA=my_fin_manana
HORARIO_INICIO_TARDE=my_inicio_tarde
HORARIO_FIN_TARDE=my_fin_tarde
